[Desktop Entry]
Version=1.0
Type=Application
Name=Imager
Comment=Bacterial colony imaging and quantification
Exec=bash /home/pi/imager/launch.sh
Icon=camera
Terminal=false
Categories=Science;Education;
StartupNotify=true
