[Desktop Entry]
Version=1.0
Name=Plate Imaging System
Comment=Bacterial colony imaging and quantification
Exec=bash /home/imager/imager/system/imaging-system/launch.sh
Icon=camera
Terminal=false
Type=Application
Categories=Science;
StartupNotify=true
